.container {
    margin: 50px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.back {
    width: 70px;
    margin-right: 0;
}

.input_group {
    margin-bottom: 20px;

    label {
        display: block;
        margin-bottom: 4px;
    }

    input {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        background-color: var(--white);
        border: 1px solid var(--grey);
        border-radius: 0.25rem;
    }

    div {
        margin-top: 4px;
        color: var(--red);
    }
}
