.title {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin-right: 10px;
    }
}
